$font_primary:'Open Sans', sans-serif;
$font_secondary:'Roboto', sans-serif;

/* Color Theme Swatches in Hex */
$color_light_blue: #A7C8F2;
$color_dark_blue: #048ABF;
$color_light_green: #027368;
$color_dark_green: #025951;
$color_orange: #F25116;